body{
    
    background-color:yellow;
    font-size:25px;
    padding-left: 20px;
    color:blue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
ins{
    text-decoration: underline;
    text-decoration-color: red;

 
 

}